*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Noto Serif', ;
}
body{
    background-image: url(/images/bg-img.jpg);   
    background-size: 100% 100vh ;
    background-repeat: no-repeat;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    width: 25%;
    border-radius: 2rem;
    height: 2rem;
    margin: 1rem 1rem;
    text-align: center;
    border: blue;
    /* background-color: rgba(7, 147, 241, 0.315); */
}
button{
    width: 15%;
    border-radius: 2rem;
    height: 2rem;
    border: none;
    margin: 1rem;
}
header{
    text-align: center;
    color: rgb(1, 21, 44);
    margin: 20px;
}